js_stuff/codex_visa_application/
vibe/spotifuckoff/
github_stuff/grungeee/
vibe/ILR_orderlist/
arduino_stuff/LoRa_tracker/
js_stuff/bootleg-wordle/
python_stuff/my_projects/job_application_automation/
